.button-span {
    position: relative;
    transition: 0.5s;
    display: inline-block;
    animation-duration: 0.1s;
}

.post-buttoncontainer__button {
    font-size: 1.25em;
    animation-duration: 0.5s;
    transition: 0.5s;
    border-width: 3px;
    margin: 2px 5px;
    max-height: 45px;
    background-color: white;
    box-sizing: border-box;
}
.button-text {
    transition: 0.5s;
    animation-duration: 0.5s;
}
.post-buttoncontainer__button:hover .button-text {
    margin-left: 50px;
    /* this is just a test */
}
.edit {
    color: #2d995b;
}
.delete {
    color: #c51f1a;
}
.cancel {
    color: gray;
}
.send {
    color: #227dc7;
}
@keyframes fontChange {
    100% {
        font-size: 1.4rem;
    }
}
