.post {
    margin: 10px 0;
    padding: 0 0 10px 0;
    overflow-y: hidden;
    align-items: center;
    height: min-content;
}

.post-buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
}

.post-buttoncontainer__delete,
.post-buttoncontainer__edit {
    font-size: 1.25em;
    animation-duration: 0.5s;
    transition: 0.5s;
    border-width: 3px;
    background: white;
    margin: 2px 5px;
    max-height: 45px;
}

.post-buttoncontainer__edit {
    color: #2d995b;
}
.post-buttoncontainer__delete {
    color: #c51f1a;
}
.button-span {
    position: relative;
    transition: 0.5s;
    display: inline-block;
    animation-duration: 0.1s;
}
.button-span:hover,
.button-span:hover {
    color: white;
    transform: translateY(-5px) scale(1.01);
}

.postauthor-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s;
}
.postauthor-name {
    color: grey;
}
.postauthor {
    align-items: center;
}
.postauthor-img:hover {
    transform: rotateY(180deg);
}
